In [14]:
# import dependencies 
import os
import pandas as pd

In [15]:
# generate path to csv
csv_path = os.path.join('output', 'country.csv')
country_csv = pd.read_csv(csv_path)
country_csv.head()
country_csv=country_csv[["country", 
                        "prct_rpt_crime", 
                        "gdp",
                        "prct_leisure_satis_high",
                        "prct_life_satis_high",
                        "total_pop",
                        "police_trust_rating",
                        "prct_rpt_pollution",
                        "avg_temp",
                        "avg_precipitation"]]

In [16]:
country_csv.head()

,country,prct_rpt_crime,gdp,prct_leisure_satis_high,prct_life_satis_high,total_pop,police_trust_rating,prct_rpt_pollution,avg_temp,avg_precipitation
0,Austria,12.4,356237.6,35.3,37.9,8401940,7.2,10.7,44.6,39.3
1,Belgium,13.4,424660.3,21.5,20.9,11000638,6.1,13.2,48.8,33.1
2,Bulgaria,25.0,48128.6,14.6,5.9,7364570,3.6,15.1,49.4,24.7
3,Switzerland,10.9,605753.7,25.8,38.5,7954662,7.4,8.9,42.5,46.7
4,Cyprus,9.8,18490.2,24.0,14.2,840407,4.7,9.2,66.1,15.4

In [17]:
country_csv.rename(columns={'country':'Country',
                          'gdp':'GDP',
                          'prct_rpt_crime':'Crime %',
                           "prct_leisure_satis_high": 'Leisure_Satis %',
                           'prct_life_satis_high' : "Life_Satis %",
                           "total_pop":"Population",
                           "police_trust_rating" : "Plice_Trust %",
                            "prct_rpt_pollution" : "Pollution %",
                            "avg_temp" : "Avg Temp °F",
                            "avg_precipitation" : "Avg Precipitation %"}, inplace=True)

In [18]:
country_csv.head()

,Country,Crime %,GDP,Leisure_Satis %,Life_Satis %,Population,Plice_Trust %,Pollution %,Avg Temp °F,Avg Precipitation %
0,Austria,12.4,356237.6,35.3,37.9,8401940,7.2,10.7,44.6,39.3
1,Belgium,13.4,424660.3,21.5,20.9,11000638,6.1,13.2,48.8,33.1
2,Bulgaria,25.0,48128.6,14.6,5.9,7364570,3.6,15.1,49.4,24.7
3,Switzerland,10.9,605753.7,25.8,38.5,7954662,7.4,8.9,42.5,46.7
4,Cyprus,9.8,18490.2,24.0,14.2,840407,4.7,9.2,66.1,15.4

In [19]:
# create html table and save to file 
country_csv.to_html('table.html', index=False, classes=['table', 'table-striped', 'table-hover'])